*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

.header-container{
    padding-left: 2em;
    padding-top: 2em;
    overflow: hidden;
    background-color: #0ecfcb80;
    display: flex;
}

.header-container img{
    max-width: 5em;
    max-height: 5em;
}

.header-container h1{
    padding: 1em;
}

/* nav */

ul {
    background-color: #0ecfcb80;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

li {
    float: left;
  }

li a {
    margin-left: 1em;
    padding: 1em;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    border-bottom: black 3px solid;
  }

li a:hover{
      border-bottom: white 3px solid;
  }

  /* body */

  body{
      background-color: #1E2021;
  }

  /* cards */

.container{
      color: black;
  }

.container div{
      margin: 5em;
      padding: 5em;
      border-radius: 1em;;
      background-color: peachpuff;
      text-align: center;
      height: 10em;
  }

.contact-img{
      background: url(Git\Mod2Challenge\Contact\Chinchilla.gif);
  }

/* resume */

.resume{
    color: white;
    text-align: center;
    margin-bottom: 5em;

}

.resume-img {
    background: url(Git\Mod2Challenge\Photo\Javier Selfie.jpg);
}

.title-name{
    font-size: 5em;
}

.title{
    font-size: 3em;
    color: #0ecfcb80;
    padding: 1em;
}



/* contact */

.contact-me{
    background-color: #0ecfcb80;
    text-align: center;
}

.get-in-touch{
    color:white;
    font-size: 2em;
    padding-top: .5em;
}

.contact-info{
    padding:1em;
    font-size: 1rem;
}
